@model SistemaDeAtendimento.Areas.Admin.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrar";
}

<h2 class="text-center">Cadastrar consultor.</h2>

<h4 class="text-center">Cadastre as informações de um novo consultor.</h4>
<div style="width: 75vw;">
    <div style="margin:0px;display:flex;justify-content:center;align-items:center;">
        @using (Html.BeginForm("Register", "Consultores", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Nome, new { @class = "col-md-12" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Foto, new { @class = "col-md-12" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Foto, new { @class = "form-control", type = "file" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-12" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-12" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-12" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Descricao, new { @class = "col-md-12" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Descricao, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-danger" value="Registrar" />
                </div>
            </div>
        }
    </div>
</div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
