@model SistemaDeAtendimento.Entity.Conversa
@{
    ViewBag.Title = "Chat";
    ViewBag.Tempo = (@Model.Visitante.Duracao * 60);
}
<link href="~/Content/ChatStyle.css" rel="stylesheet" />

<h2 class="text-center my-5">Chat com o consultor</h2>
<div style="display:flex; justify-content:center">
    <div class="mr-3"><strong class="relogio">Tempo de Chat: <span class="tempoTotal "></span></strong></div>
    <div><strong class="relogio">Tempo Restante: <span class="clock "></span></strong></div>
</div>


<div class="chat-box">
    <div class="chat-content" id="discussion">
    </div>

    <div id="digitando" class="digitando">Digite alguma coisa</div>
    
    <div class="chat-form">
        <textarea type="text" id="message"></textarea>
        @using (Html.BeginForm("Upload", "Chat", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", @id = "form" }))
        {
            <label for="upload" class="btn btn-info" id="fileLabel"><i class="fas fa-file-upload"></i></label>
            <input type="file" name="Arq" id="upload">
            <input type="hidden" name="pathUpl" id="pathUpl" />

        }
        <button id="sendmessage" class="btn btn-outline-info">Enviar</button>

        <!-- Nome do usuario -->
        <input type="hidden" id="displayname" />
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $("#upload").change(function () {
            $("#fileLabel").html("<i class='far fa-thumbs-up'></i>");
        });

        function format_hr(s){
          function duas_casas(numero){
            if (numero <= 9){
              numero = "0"+numero;
            }
            return numero;
          }
          minuto = duas_casas(Math.round((s%3600)/60));
          segundo = duas_casas((s%3600)%60);
          formatado = minuto+":"+segundo;

          return formatado;
        }

        $(function () {
            var chat = $.connection.chatHub;

            $(".tempoTotal").html(format_hr((@Model.Visitante.Duracao * 60)))
            $("#pathUpl").val("@Model.IdConversa")

            var url = window.location.href.split("Chat");
            chat.client.addNewMessageToPageConsultor = function (name, message) {
                $('#discussion').append('<div class="chat consultor"><div class="img-chat"><img src="' + url[0] + 'images/@Model.AspNetUsers.Foto" alt="Alternate Text" /></div><span class="chat-message"><p class="title">' + name + '</p>' + htmlEncode(message) + '</span></div>');
                var height = document.getElementById("discussion").scrollHeight;
                document.getElementById("discussion").scrollTop = height;
            };

            chat.client.addNewMessageToPageVisitante = function (name, message) {
                $('#discussion').append('<div class="chat visitante"><div class="img-chat"><img src="' + url[0] + 'images/Usuario/user.png" alt="Alternate Text" /></div><span class="chat-message"><p class="title">' + name + '</p>' + htmlEncode(message) + '</span></div>');
                var height = document.getElementById("discussion").scrollHeight;
                document.getElementById("discussion").scrollTop = height;
            };

            chat.client.addNewLinkFileToPageConsultor = function (name, filename, conversa) {
                 
                $('#discussion').append('<div class="chat consultor"><div class="img-chat"><img src="' + url[0] + 'images/@Model.AspNetUsers.Foto" alt="Alternate Text" /></div><span class="chat-message"><p class="title">' + name + '</p><div style="width:100%; display:flex; justify-content:center"><a target="_blank" href="/Chat/Download/?path=' + conversa + '&filename=' + filename + '" class="link btn  my-3" id="linkDownload">' + filename + '</a></div></span></div>');
                var height = document.getElementById("discussion").scrollHeight;
                document.getElementById("discussion").scrollTop = height;
            }

            chat.client.addNewLinkFileToPageVisitante = function (name, filename, conversa) {
                $('#discussion').append('<div class="chat visitante"><div class="img-chat"><img src="' + url[0] + 'images/Usuario/user.png" alt="Alternate Text" /></div><span class="chat-message"><p class="title">' + name + '</p> <div style="width:100%; display:flex; justify-content:center"><a target="_blank" href="/Chat/Download/?path=' + conversa + '&filename=' + filename + '"  class="link btn my-3" id="linkDownload">' + filename + '</a></div></span></div>');
                var height = document.getElementById("discussion").scrollHeight;
                document.getElementById("discussion").scrollTop = height;
            };

            chat.client.joinGroup = function (name) {
                $('#discussion').append('<div class="chat sistema"><span class="chat-message text-center">' + name + '</span></div>');
            };

            chat.client.leaveGroup = function (name) {
                $('#discussion').append('<div class="chat sistema"><span class="chat-message text-center">' + name + '</span></div>');
            };

            chat.client.countTimer = function (atual, tempo) {
                $(".clock").html(atual);

                if (tempo > 0) {
                    if (!@ViewBag.Consultor) {
                        tempo = tempo - 1;

                        var repetir = setTimeout(function () { chat.server.timer("@Model.AspNetUsers.Id", tempo); }, 1000);
                    }
                } else {
                    chat.server.removeFromGroup("@Model.AspNetUsers.Id", $('#displayname').val());
                    let url = window.location.href.split("Chat");

                    if (!@ViewBag.Consultor) {
                        window.location.href = url[0];
                    } else {
                        window.location.href = url[0] + "Consultores";
                    }
                }
            }

            chat.client.digitandoMessage = function (name) {
                $('#digitando').html('<p class="text-muted text-center">' + name + '</p>');
            };

            chat.client.apagarDigitandoMessage = function (name) {
                $('#digitando').html('');
            };

            if (@ViewBag.Consultor) {
                $('#displayname').val("@Model.AspNetUsers.Nome");
            } else {
                $('#displayname').val("@Model.Visitante.Nome");
            }
            $('#message').focus();

            $.connection.hub.start().done(function () {
                chat.server.listConsultores();
                chat.server.addToGroup("@Model.AspNetUsers.Id", $('#displayname').val());

                chat.server.chatLink("@Model.AspNetUsers.Id", @Model.IdConversa);


                $('#sendmessage').click(function () {
                    if ($("#upload").val() !== "") {
                        var formData = new FormData($('#form')[0]);
                        $.ajax({
                            url : '/Chat/Upload',
                            type: "POST",
                            data: formData,
                            contentType: false,
                            processData: false,
                            dataType: "JSON",
                            success: function(data){
                                console.log(data);

                                chat.server.upload("@Model.AspNetUsers.Id", $('#displayname').val(), data, @Model.IdConversa, @ViewBag.Consultor)
                            },
                        });
                        $("#upload").val("");
                        $("#fileLabel").html("<i class='fas fa-file-upload'></i>");
                    }
                    if ($('#message').val() !== "") {
                        chat.server.send($('#displayname').val(), $('#message').val(), "@Model.AspNetUsers.Id", @ViewBag.Consultor, @Model.IdConversa);
                    }
                    $('#message').val('').focus();
                });

                $('#message').keypress(function () {
                   chat.server.digite("@Model.AspNetUsers.Id", $('#displayname').val());
                });

                $('#message').blur(function () {
                     chat.server.apagarDigite("@Model.AspNetUsers.Id");
                });

                if (!@ViewBag.Consultor) {

                   if (@ViewBag.Cronometro) {
                        console.log("ola")
                        chat.server.removeFromGroup("@Model.AspNetUsers.Id", $('#displayname').val());
                        let url = window.location.href.split("Chat");
                        window.location.href = url[0];

                    }
                    
                    chat.server.timer("@Model.AspNetUsers.Id", @ViewBag.Tempo);
                }
            });
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}
    