@model IEnumerable<SistemaDeAtendimento.Entity.AspNetUsers>
@using SistemaDeAtendimento.App_Start
@{
    ViewBag.Title = "Home Page";
}

<h2 class="text-center my-5 text-danger">Escolha o consultor com quem deseja falar</h2>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-danger">
        @ViewBag.Message
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (User.IsInRole("Consultor"))
{
    <div id="notificacao" class="" style="width:100px;border-radius:10px;">
    </div>
}

<div class="row">    
    @foreach (var item in Model)
    {
        <div class="card col-3">
            <div class="card-deck">
                <img class="card-img" src="~/images/@Html.DisplayFor(modelItem => item.Foto)">
            </div>
            <div class="card-body">
                <h5 class="text-center card-title text-danger"> @Html.DisplayFor(modelItem => item.Nome)</h5>
                <p class="card-text text-justify">@Html.DisplayFor(modelItem => item.Descricao)</p>
                <p class="text-muted text-center">@Html.DisplayFor(modelItem => item.Email)</p>

            </div>

                <div class="card-footer card-deck" style="display:flex;justify-content:center; bottom:0px; position:relative">
                    
                    @Html.ActionLink("Falar com o consultor", "Visitante", "Home", new { idConsultor = item.Id }, new { @class = "btn btn-danger" })
                </div>
            
        </div>
    }

</div>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    @*@if (User.IsInRole("Consultor"))
        {
            <script>
            $(function () {
                var chat = $.connection.chatHub;

                chat.client.listar = function (msg, conversa) {
                    $("#notificacao").css("border", "1px solid red");
                    $("#notificacao").addClass("p-5");
                    $("#notificacao").addClass("alert");
                    $("#notificacao").html($("#notificacao").html() + '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>');
                    $("#notificacao").html($("#notificacao").html() + "<h3 class='text-danger'>Consultor @User.Identity.GetName() </h1>");
                    $("#notificacao").html($("#notificacao").html() + "<p class='text-black'>" + msg + "</p>");
                    $("#notificacao").html($("#notificacao").html() + "<a href='https://localhost:44332/Chat?IdConversa=" + conversa + "'><button class='btn btn-danger'>Entrar No chat</button></a>");

                };


                $.connection.hub.start().done(function () {
                    chat.server.listNotification();
                });
            });
            </script>
        }*@
}