@using Microsoft.AspNet.Identity
@using SistemaDeAtendimento.App_Start
@model IEnumerable<SistemaDeAtendimento.Entity.Conversa>

@{
    ViewBag.Title = "Consultor";
}
@if (ViewBag.Status == "Disponível")
{
    <h5 id="status-color" style="position:absolute; right:35px;" class="text-success">Status: <span class="display-status">@ViewBag.Status</span></h5>
}
else
{
    <h5 id="status-color" style="position:absolute; right:35px;" class="text-danger">Status: <span class="display-status">@ViewBag.Status</span></h5>
}
<h2 class="mb-3 mt-4">Área do Consultor</h2>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success">
        @ViewBag.Message
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div id="notificacao" class="" style="width=100px;border-radius:10px;">
</div>

<div style="display:flex; justify-content:center;" id="buttons">
    @Html.ActionLink("Alterar senha", "ChangePassword", "Consultor", new { @class = "btn btn-info mx-2 text-light" })

    
    <button class="btn btn-info mx-2 text-light" id="status">Mudar status</button>
</div>

<form action="/" method="post" id="userId">
    <input type="hidden" name="UserId" value="@User.Identity.GetUserId()" />
</form>

<h3 class="text-center my-5">Histórico de atendimentos</h3>

<table class="table mb-5" id="consultores">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Cliente
            </th>
            <th>
                Início da conversa
            </th>
            <th>
                Detalhes
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdConversa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Visitante.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dtConversa)
                </td>
                <td>
                    @Html.ActionLink("Detalhes", "Mensagens", new { Id = item.IdConversa }, new { @class = "btn btn-info text-light" })
                </td>
            </tr>
        }
    </tbody>
</table>
<div style="height:50px;"></div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var chat = $.connection.chatHub;

            chat.client.link = function (link) {
                $("#notificacao").html("<a href='" + link + "'><div class='alert alert-success'>Um usuário solicitou uma conversa com você pelo chat!</div></a>");
                $("#buttons").append("<a href='" + link + "' class='btn btn-info text-light'>Entrar no chat</a>");
                $("#status").css("display", "none");
            }

            $.connection.hub.start().done(function () {
                chat.server.listConsultores();
                chat.server.addToGroup("@User.Identity.GetUserId()", "@User.Identity.GetName()");
                
                $("#status").click(function () {
                    var formData = new FormData($('#userId')[0]);
                    $.ajax({
                        url: '/Consultores/Consultor/ChangeStatus/',
                        type: "POST",
                        data: formData,
                        contentType: false,
                        processData: false,
                        dataType: "JSON",
                        success: function (data) {
                            if (data == "Disponível") {
                                $("#status-color").removeClass("text-danger");
                                $("#status-color").addClass("text-success");
                            } else {
                                $("#status-color").removeClass("text-success");
                                $("#status-color").addClass("text-danger");
                            }
                            $(".display-status").html(data);
                             chat.server.listConsultores();
                        },
                    });
                   
                });
            });
        });
    </script>
}