@model IEnumerable<SistemaDeAtendimento.Entity.Mensagens>
@{
    ViewBag.Title = "Mensagens";
}
<link href="~/Content/ChatStyle.css" rel="stylesheet" />

<h2 class="text-center my-5">Histórico de Mensagens</h2>
<div class="dados">
    <div class=" ">
        <div class="dados-cliente">
            <div>
                <p class="title text-center">Dados do Cliente</p>
                <hr />
            </div>

            <div class="cliente-content">
                <p>
                    <strong>Nome:</strong> @Html.DisplayFor(modelItem => modelItem.First().Conversa.Visitante.Nome)
                </p>
                <p>
                    <strong>E-mail:</strong> @Html.DisplayFor(modelItem => modelItem.First().Conversa.Visitante.Email)
                </p>
                <p>
                    <strong>Celular:</strong> @Html.DisplayFor(modelItem => modelItem.First().Conversa.Visitante.Celular)
                </p>
            </div>
        </div>
    </div>

    <div class="">
        <div class="dados-consultor">
            <p class="title text-center">Dados do Consultor</p>
            <hr />
            <div class="consultor-content">
                <p>
                    <strong>Nome:</strong> @Html.DisplayFor(modelItem => modelItem.First().Conversa.AspNetUsers.Nome)
                </p>
                <p>
                    <strong>E-mail:</strong> @Html.DisplayFor(modelItem => modelItem.First().Conversa.AspNetUsers.Email)
                </p>
                <p>
                    <strong>Descrição:</strong> @Html.DisplayFor(modelItem => modelItem.First().Conversa.AspNetUsers.Descricao)
                </p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="chat-box">
    <div class="chat-content" id="discussion">
        @foreach (var item in Model)
        {
            if (item.Remetente == true)
            {
                <div class="chat consultor">
                    <div class="img-chat"><img src="~/images/@Html.DisplayFor(modelItem => item.Conversa.AspNetUsers.Foto)" alt=""></div>
                    <span class="chat-message"><p class="title">@Html.DisplayFor(modelItem => item.Conversa.AspNetUsers.Nome)</p> @Html.DisplayFor(modelItem => item.Mensagem)<p class="data">@Html.DisplayFor(modelItem => item.data)</p></span>
                </div>
                if (!string.IsNullOrEmpty(item.Arquivos))
                {
                    <div class="chat consultor">
                        <div class="img-chat"><img src="~/images/@Html.DisplayFor(modelItem => item.Conversa.AspNetUsers.Foto)" alt=""></div>
                        <span class="chat-message"><p class="title">@Html.DisplayFor(modelItem => item.Conversa.AspNetUsers.Nome)</p><a target='_blank' href='@Html.DisplayFor(modelItem => item.Arquivos)'><button class='link' id='linkDownload'>@Html.DisplayFor(modelItem => item.Arquivos)</button></a><p class="data">@Html.DisplayFor(modelItem => item.data)</p></span>
                    </div>
                }
            }
            else
            {
                <div class="chat visitante">
                    <div class="img-chat"><img src="~/images/Usuario/user.png" alt=""></div>
                    <span class="chat-message"><p class="title">@Html.DisplayFor(modelItem => item.Conversa.Visitante.Nome)</p>@Html.DisplayFor(modelItem => item.Mensagem)<p class="data">@Html.DisplayFor(modelItem => item.data)</p></span>
                </div>
                if (!string.IsNullOrEmpty(item.Arquivos))
                {
                    <div class="chat visitante">
                        <div class="img-chat"><img src="~/images/Usuario/user.png" alt=""></div>
                        <span class="chat-message"><p class="title">@Html.DisplayFor(modelItem => item.Conversa.Visitante.Nome)</p><a target='_blank' href='@Html.DisplayFor(modelItem => item.Arquivos)'><button class='link' id='linkDownload'>@Html.DisplayFor(modelItem => item.Arquivos)</button></a><p class="data">@Html.DisplayFor(modelItem => item.data)</p></span>
                    </div>
                }
            }
        }
    </div>
</div>

<div style="height:50px"></div>

<script>
    var height = document.getElementById("discussion").scrollHeight;
    document.getElementById("discussion").scrollTop = height;
</script>